#particle {
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0;
  opacity: 1
}

#jumbo{
  background: rgba(200, 54, 54, .5);
  color: rgba(255, 255, 255);
  position: relative;
  padding: 50px;
}

.inner{
  color:rgb(250,250,250);
  opacity: 1;
}

body{
  padding-top: 45px;
}

/**/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

/*header fonts*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Noto Sans JP', serif;
  text-align: start;
}

/*<!-- 1st Row -->*/
#profile-picture {
  background-image: url(images/avatar.png);
  background-size: cover;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}


.tech-stack {
  height: 100px;
  margin-top: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#html {
  background-image: url("images/html5.png");
}

#css {
  background-image: url("images/css3.png")
}

#js {
  background-image: url("images/js.png");
}

#gitlab {
  background-image: url("images/gitlab.png");
}

#bootstrap {
  background-image: url("images/bootstrap.png");
}

#google {
  background-image: url("images/google2.png")
}

#react {
  background-image: url("images/react.png")
}

#nodejs {
  background-image: url("images/nodejs.png")
}

#mongodb {
  background-image: url("images/mongodb.png")
}

#work-button {
  margin: 20px;
}
/*End 1st Row-->*/

.container{
  margin-bottom: 40px;
}

#shadow{
  text-shadow: 7px 7px 10px #000000;

}

.card{
  background-color: transparent;
}

footer {
  background: rgba(200, 54, 54, .5);
  color: rgba(255, 255, 255);
  position: relative;
  display:flex;
  justify-content: center;
}